/************************************************
   Name: Shades of gray Firefox userContent.css
   Author: WernerFP
   License: GPL-3.0+
************************************************/


/******************************************/
/************* Firefox forms **************/
/******************************************/

input:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=submit]):not([type=reset]),
textarea,
select {

	-moz-appearance: none;
	color: black;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
}
select {

	-moz-appearance: none;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAMklEQVQI13XMwQkAIBADweGw/zbs7xrQlyKnBvYTNoHEKGSgu7O7c5UQ1Xg95LKh/cwJnLQO8gRyckIAAAAASUVORK5CYII=);
	background-position: right 5px center;
	background-repeat: no-repeat;
	padding-right: 1.1em !important;
	color: black;
	background-color: #dfdfdf;
	display: inline-block;
	cursor: pointer;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
	box-shadow: inset 0px 3px 0px 0px #ebebeb;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}
input:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=submit]):not([type=reset]):hover,
textarea:hover,
select:hover {

	border: 1px solid rgba(0, 0, 0, 0.5);
}
input:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=submit]):not([type=reset]):focus,
textarea:focus,
select:focus {

	border: 1px solid rgba(0, 0, 0, 1);
}
select:hover,
select:active{

	background-color: #e7e7e7;
}
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {

	-moz-appearance: none;
	padding: 0 2.7em;
	color: black;
	background-color: #dfdfdf;
	display: inline-block;
	cursor: pointer;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}
button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover {

	background-color: #ebebeb;
	border: 1px solid rgba(0, 0, 0, 0.5);
}
button:active,
input[type="reset"]:active,
input[type="button"]:active,
input[type="submit"]:active {

	background-color: #f0f0f0;
	border: 1px solid rgba(0, 0, 0, 0.5);
}
input[type="radio"],
input[type="checkbox"] {

	filter: brightness(1.45);
}